*{margin: 0px;
padding: 0px;
box-sizing: border-box;}


.navbar{background-color: rgb(160, 158, 158);
font-weight: bolder;}

.menu{background-color: rgb(160, 158, 158);
   
}

h1{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

 
.navbar-brand{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2rem;}

.border{border-bottom: white;
border-width: 1px;}
.nav-item:hover{background-color: white;}



h2{text-align: center;
font-weight: bold;}

p{font-weight: 600;}